<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        
        <section class="home" id="home">
            <div class="homeTitle">
                <h1 data-aos="zoom-in" data-aos-delay="200"><strong>TECHNOL<span>O</span>GY</strong></h1>
                <h2 data-aos="zoom-in" data-aos-delay="300">COOFEE & CANNABINOIDS</h2>
            </div>
            <p data-aos="zoom-in" data-aos-delay="400">The token that will bring coffee and<br>cannabinoids into the digital world.</p>
            <a href="" data-aos="zoom-in" data-aos-delay="450">Learn more</a>
        </section>

        <section class="about">
            <div class="welcomeDigital">
                <div class="digitalWorld">
                    <img data-aos="fade-right" data-aos-delay="200" src="./views/assets/img/laptop-cannabis.png" alt="">
                    <div class="parrafo">
                        <h1 data-aos="fade-right" data-aos-delay="300">WELCOME TO THE<br><span>DIGITAL WORLD</span></h1>
                        <p data-aos="fade-right" data-aos-delay="400">Planting, Harvesting, Sorting, Production, and Distribution processes of <strong>Coffee</strong> & <strong>Cannabinoids</strong> and its derivates (CBD, Delta, THC, CBG, and Kramtom), and create mass-consumption products by combining the described products and represent them in a <strong>virtual reality</strong>, using an ecosystem that gives utility to the digital asset representing them, <span>COFFEUP</span>.</p>
                    </div>
                </div>
            </div>
            <div class="welcomeMetaverse">
                <img data-aos="zoom-in" data-aos-delay="200" src="./views/assets/img/icono-texto.png" alt="">
                <p data-aos="zoom-in" data-aos-delay="300">The <strong>metaverse</strong> is based on a <strong>virtual reality technology</strong> and is characterized by a wide variety of applications and uses, such as gaming, entrertainment, education, business, science, and more. In the metaverse, users can create and customize their own digital representation, known as an 'avatar', and interact with other avatars and the virtual enviroment in a similar way to how they would in the real world.</p>
            </div>
        </section>

        <section id="token">
            <div class="token">
                <img class="img-token" src="./views/assets/img/token-coffe-cannabis.png" alt="">
                <div class="tokenContainer">
                    <div class="tokenTitle">
                        <h1><strong>500.000.000</strong></h1>
                        <h2><strong>COFFEEUP</strong> Tokens</h2>
                    </div>
                    <p>
                        It is estimated that around 190-200 million people worldwide are CBD users each year, with a projected growth rate of 25% annually for the next 5 years.
                    </p>
                </div>
            </div>
            <ul>
                <li><strong>NAME:</strong> CoffeUp</li>
                <li><strong>TECHNICAL:</strong> CoffeUp</li>
                <li><strong>EXCHANGE PAIR:</strong> BUSC, BNB, USDT</li>
                <li class="tooltip" data-tooltip="Copy" id="copy-url" data-clipboard="URL"><strong>DEX</strong> https://swa...up.com/</li>
                <li><strong>STARTING PRICE:</strong> 0.1</li>
                <li class="tooltip" data-tooltip="Copy" id="copy-contract" data-clipboard="CONTRACT"><strong>CONTRACT</strong> 0x888...ee85</li>
            </ul>        
        </section>

        <section id="roadmap">
            <div class="title">
                <h1>ROADMAP</h1>
            </div>
            <div class="secciones">
                <div class="derecha" data-aos="fade-left">
                    <h1>2023 Q<span>2</span></h1>
                    <ul>
                        <li>Whitepaper Relase.</li>
                        <li>Smart Contract Development Phase.</li>
                        <li>Website Development</li>
                        <li>Implementation of Social Media.<br> Instagram, Twitter, Youtube, Tiktok and Facebook.</li>
                        <li>Trainings for sales teams.</li>
                        <li>Bscscan Audit.</li>
                        <li>Token Launch.</li>
                    </ul>
                    <img class="quartersImg img1" src="./views/assets/img/cannabis-1.png" alt="">
                </div>
                <div class="izquierda" data-aos="fade-right">
                    <h1>2023 Q<span>3</span></h1>
                    <ul>
                        <li>Social Networks Marketing campaign.</li>
                        <li>Radio and Television marketing campaign.</li>
                        <li>Liquidity locked.</li>
                        <li>CoffeUp Official Launch.</li>
                    </ul>
                </div>
                <div class="derecha" data-aos="fade-left">
                    <h1>2023 Q<span>4</span></h1>
                    <ul>
                        <li>Token Audit.</li>
                        <li>Presale token coffee up.</li>
                        <li>Token listing on CoinMarketCap.</li>
                        <li>Token listing on Coingecko.</li>
                        <li>Dapps creation.</li>
                        <li>Staking coffee up</li>
                    </ul>
                </div>
                <div class="izquierda" data-aos="fade-right">
                    <h1>2024 Q<span>1</span></h1>
                    <ul>
                        <li>NFT Marketplace.</li>
                        <li>Store Coffee Up</li>
                        <li>Analysis, Design of CoffeeUp City in the Metaverse.</li>
                        <li>Development of Coffeeup Wallet.</li>
                        <li>
                            Coffe UP Strategic Alliances.
                        </li>
                    </ul>
                    <img class="quartersImg img2" src="./views/assets/img/cannabis-2.png" alt="">
                </div>
                <div class="derecha" data-aos="fade-left">
                    <h1>2024 Q<span>2</span></h1>
                    <ul>
                        <li>Coffeeup Wallet Launch.</li>
                        <li>Coffee Up City Metaverse launched.</li>
                    </ul>
                    <img class="quartersImg img3" src="./views/assets/img/cannabis-1.png" alt="">
                </div>
                <div class="izquierda" data-aos="fade-right">
                    <h1>2024 Q<span>3</span></h1>
                    <ul>
                        <li>New Porducts and Services - Ecosystem Expansion - Coffee UP City in the Metaverse.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="swiper">
            <img src="./views/assets/img/flecha-i.png" alt="prev" class="button-prev">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--one">
                        <img src="./views/assets/img/cannabis-founder-1.jpg" alt="">
                        <div>
                            <h2>Gustavo <span>Córdoba</span></h2>
                            <p>
                            Co Founder CTO
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--one">
                        <img src="./views/assets/img/cannabis-founder-2.jpg" alt="">
                        <div>
                            <h2>Gabriel <span>Chavez</span></h2>
                            <p>
                                Co Founder - CFO
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--one">
                        <img src="./views/assets/img/cannabis-founder-3.jpg" alt="">
                        <div>
                            <h2>Oscar <span>Rivera</span></h2>
                            <p>
                                Co Founder - CEO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./views/assets/img/flecha-d.png" alt="next" class="button-next">
        </section>

        <section class="liquidity">
        </section>

        <section class="posts">
            <div class="containerPost">
                <div class="titlePost">
                    <img src="./views/assets/img/logo-negro.png" alt="">
                    <h1><strong>INSTAGRAM</strong></h1>
                </div>
                <div class="post">
                    <img src="./views/assets/img/Post1.png" alt="">
                    <img src="./views/assets/img/Post2.png" alt="">
                    <img src="./views/assets/img/Post3.png" alt="">
                    <img src="./views/assets/img/Post4.png" alt="">
                </div>
                <a href="https://www.instagram.com/coffeeupglobal/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                    <strong>FOLLOW</strong> ON INSTAGRAM
                </a>
            </div>
        </section>

        <section class="partners">
            <h1>OUR <span>ALLIES</span></h1>
            <div class="partner">
                <img src="./views/assets/img/Aaliado1.webp" alt="">
                <img src="./views/assets/img/Aliado2.webp" alt="">
                <img src="./views/assets/img/Aliado3.webp" alt="">
                <img src="./views/assets/img/Aliado4.webp" alt="">
                <img src="./views/assets/img/Aliado5.png" alt="">
            </div>
        </section>

        <%- include('./partials/footer') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script>
        <script src="./views/assets/js/js.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                delay: 1,
                duration: 1500,
                easing: 'ease'
            });
        </script>
    </body>
</html>