<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <section class="stake">
        <div class="elementoStake">
            <img class="cafe" src="../views/assets/img/cafe.png" alt="">
            <div class="separacionStake">
                <h1>COFFEE UP STAKING | <span>BASIC</span></h1>
                <div class="reward">
                    <h4>Reward: <span>6%</span></h4>
                    <input class="inputReward" type="text" placeholder="0.00">
                    <h4>/100 CU max</h4>
                    <h4>Deposites: 0/22.500</h4>
                    <button>30 DAYS</button>
                </div>
            </div>
        </div>
        <div class="elementoStake">
            <img class="cannabis" src="../views/assets/img/cannabis-1.png" alt="">
            <div class="separacionStake">
                <h1>COFFEE UP STAKING | <span>STANDAR</span></h1>
                <div class="reward">
                    <h4>Reward: <span>8%</span></h4>
                    <input class="inputReward" type="text" placeholder="0.00">
                    <h4>/100 CU max</h4>
                    <h4>Deposites: 0/22.500</h4>
                    <button>3 MONTHS</button>
                </div>
            </div>
        </div>
        <div class="elementoStake">
            <img class="cafe" src="../views/assets/img/cafe-oro.png" alt="">
            <div class="separacionStake">
                <h1>COFFEE UP STAKING | <span>MEDIUM</span></h1>
                <div class="reward">
                    <h4>Reward: <span>10%</span></h4>
                    <input class="inputReward" type="text" placeholder="0.00">
                    <h4>/100 CU max</h4>
                    <h4>Deposites: 0/22.500</h4>
                    <button>6 MONTHS</button>
                </div>
            </div>
        </div>
        <div class="elementoStake">
            <img class="cannabis-2" src="../views/assets/img/cannabis-2.png" alt="">
            <div class="separacionStake">
                <h1>COFFEE UP STAKING | <span>ADVANCED</span></h1>
                <div class="reward">
                    <h4>Reward: <span>12%</span></h4>
                    <input class="inputReward" type="text" placeholder="0.00">
                    <h4>/100 CU max</h4>
                    <h4>Deposites: 0/22.500</h4>
                    <button>9 MONTHS</button>
                </div>
            </div>
        </div>
        <div class="elementoStake">
            <img class="coin" src="../views/assets/img/coin.png" alt="">
            <div class="separacionStake">
                <h1>COFFEE UP STAKING | <span>PRO</span></h1>
                <div class="reward">
                    <h4>Reward: <span>15%</span></h4>
                    <input class="inputReward" type="text" placeholder="0.00">
                    <h4>/100 CU max</h4>
                    <h4>Deposites: 0/22.500</h4>
                    <button>12 MONTHS</button>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/scripts') %>
</body>
</html>