<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <section class="swap">
            <div class="cardSwap">
                <div class="capa"></div>
                <div class="cardSwapContainer">
                    <h1>COFFEE UP <span>SWAP</span></h1>
                    <div class="formSwap">
                        <div class="input-container">
                            <img class="icon tether" src="./views/assets/img/theter.png" alt="">
                            <input class="input" type="text" placeholder="Enter the amount">
                        </div>
                        <div class="flechasSwap">
                            <img src="./views/assets/img/flecha-abajo.png" alt="">
                            <img src="./views/assets/img/flecha-arriba.png" alt="">
                        </div>
                        <div class="input-container">
                            <img class="icon coin" src="./views/assets/img/coin.png" alt="">
                            <input class="input" type="text" placeholder="Enter the amount">
                        </div>
                        <div class="approveSwap">
                            <button>Approve</button>
                            <img src="./views/assets/img/flecha-simple-derecha.png" alt="">
                            <button>Swap</button>
                        </div>
                        <div class="slip">
                            <h4>Tolerable slip (%): <span>0.5%</span></h4>
                            <h6>Minimum received: 000</h6>
                        </div>
                    </div>
                </div>
                <img class="cannabisSwap" src="./views/assets/img/cannabis-2.png" alt="">
                <img class="cafeOroSwap" src="./views/assets/img/cafe-oro.png" alt="">
            </div>
        </section>

        <%- include('./partials/scripts') %>
    </body>
</html>