:root {
    --amarillo: #FFD156;
    --verde: #1A8B22;
    --negro: #2F2F2F;
    --blanco: #FFFFFF;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

::selection{
    background-color: var(--azul-3);
}

::-webkit-scrollbar{
    width: 4px;
    background-color: rgb(41, 40, 40);
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: var(--amarillo);
}

a{
    text-decoration: none;
    color: var(--negro);
}

li {
    list-style: none;
}

/* NAVBAR */

header {
    padding: 15px 20%;
    box-shadow:  5px 5px 30px black, -5px -5px 30px var(--negro);
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.menuFixed {
    background-color: var(--negro);
    transition: all 0.3s ease-in;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 8%;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul a, #token ul li, header nav .botonApp, .home h1, .home p, .welcomeMetaverse p, .tokenContainer p, .tokenContainer ul, .posts .titlePost h1, .contactInfo h1 {
    font-family: 'Poppins';
}

.tokenTitle h1 strong, #token ul li strong {
    font-weight: 900;
    color: #2F2F2F;
}

.home h2, .digitalWorld .parrafo p, .tokenTitle h2, .tokenTitle h2 strong{
    font-family: 'AlegreyaSans';
    letter-spacing: 2px;
}

nav ul a {
    position: relative;
    padding: 5px 0px;
    color: var(--blanco);
}

nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

nav ul a:hover::before {
    width: 100%;
}

nav .botonApp {
    padding: 10px 50px;
    border: 2px solid var(--amarillo);
    border-radius: 25px;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
}

/* MENU DESPLEGABLE */

.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 110px;
    background-color: #3d3d3d;
}

.menu:hover ul {
    display: block;
}

.menu li {
    padding: 12px;
}

.menu ul li {
    color: #000;
}

/* HOME */

.home {
    background-image: url("../img/fondo-individual-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20%;
    gap: 10px;
}

.homeTitle {
    padding: 10px 0px;
    border-bottom: 1px solid var(--amarillo);
}

.home h1 {
    font-size: 55px;
    font-weight: 900;
    color: var(--blanco);
}

.home h1 span{
    color: var(--amarillo);
}

.home h2 {
    font-size: 30px;
    letter-spacing: 8px;
    color: var(--blanco);
}

.home p {
    color: var(--blanco);
    font-size: 18px;
    letter-spacing: 1px;
}

.home a {
    color: var(--amarillo);
    padding: 3px 0px;
    border-bottom: 1px solid var(--amarillo);
    margin-top: -10px;
}

/* WELCOME */

.welcomeDigital, .welcomeMetaverse, #token, .containerPost, .partners {
    padding: 150px 15%;
}

.digitalWorld {
    padding: 0px 10%;
    border-left: 3px solid var(--verde);
    display: flex;
    gap: 50px;
}

.digitalWorld img {
    width: 45%;
}

.digitalWorld .parrafo h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 1;
}

.digitalWorld .parrafo h1 span {
    color: var(--verde);
}

.digitalWorld .parrafo p {
    text-align: justify;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 18px;
}

.welcomeMetaverse {
    background-image: url("../img/fondo-individual.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.welcomeMetaverse p {
    width: 80%;
    color: white;
    text-align: justify;
    font-size: 20px;
}

/* TOKEN */

.token {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.token img {
    width: 60%;
}

.tokenContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.tokenTitle {
    text-align: center;
}

.tokenTitle h1 {
    font-size: 40px;
}

.tokenTitle h2 {
    font-size: 20px;
}

.tokenContainer p {
    width: 80%;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
}

#token ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    gap: 10px;
}

#token ul li {
    padding: 15px;
    border-right: 1px solid var(--amarillo);
    font-size: 13px;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* ROADMAP */

#roadmap {
    height: 250vh;
    margin-bottom: 100px;
    background-image: url("../img/esqueleto.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.secciones {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.izquierda, .derecha {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    flex-direction: column;
    gap: 15px;
    padding: 30px 40px;
    background-image: url("../img/quarters.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    letter-spacing: 1px;
    border-radius: 40px;
    position: relative;
}

.izquierda {
    margin-left: -420px;
}

.derecha {
    margin-left: 420px;
}

.izquierda h1 span, .derecha h1 span {
    color: var(--amarillo);
}

.izquierda ul, .derecha ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.izquierda ul li, .derecha ul li {
    list-style-type: disc;
}

.quartersImg {
    width: 30%;
    position: absolute;
}

.img1 {
    bottom: -50px;
    right: 0;
}

.img2 {
    top: -70px;
    left: 0;
}

.img3 {
    top: -50px;
    right: 0;
}

/* TEAM */

#swiper {
    position: relative;
    width: 100%;
    padding: 50px 10%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url("../img/fondo-individual-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding: 50px 100px !important;
}

#swiper img {
    width: 5%;
    cursor: pointer;
}

.swiper-slide {
    width: 200px;
    height: 350px !important;
    box-shadow: 9px 9px 18px var(--amarillo), -9px -9px 18px var(--amarillo);
    filter: blur(1px);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
}

.swiper-slide img{
    width: 60% !important;
    border-radius: 50%;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    color: var(--amarillo);
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: 15px;
}

.swiper-slide p {
    color: #ffffffa1;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0 25px 35px 25px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
background-image: none;
}

/* LIQUIDITY */

.liquidity {
    background-image: url("../img/Liquidity-Circle.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: -10px;
}

@media (min-width: 1000px) and (max-width: 1350px) {
    .liquidity {
        margin-top: -100px;
    }
}

@media (min-width: 860px) and (max-width: 1000px) {
    .liquidity {
        margin-top: -150px;
    }
}

@media (min-width: 650px) and (max-width: 860px) {
    .liquidity {
        margin-top: -205px;
    }
}

@media (min-width: 450px) and (max-width: 650px) {
    .liquidity {
        margin-top: -250px;
    }
}

/* POSTS */

.containerPost {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.posts {
    border-bottom: 2px solid var(--negro);
}

.posts .titlePost {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.posts .titlePost img {
    width: 20%;
}

.posts .titlePost h1 {
    color: var(--verde);
    font-weight: 900;
    font-size: 50px;
}

.post, .partner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post img, .partner img {
    width: 20%;
}

svg {
    fill: white;
}

.containerPost a {
    background: linear-gradient(rgb(4, 184, 4) 10%, var(--verde) 90%);
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

/* PARTNERS */

.partners {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.partners h1 {
    color: var(--negro);
    font-size: 40px;
    font-weight: 900;
}

.partners h1 span {
    color: var(--verde);
}

.partner {
    gap: 50px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 50px 15%;
}

.contactInfo {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.contactInfo p {
    width: 70%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.contactInfo h1 span {
    color: var(--amarillo);
}

.contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 30px;
    border-right: 2px solid var(--amarillo);
    border-left: 2px solid var(--amarillo);
}

.contactForm p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.contactForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form input[type="text"] {
    width: 100%;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 14px;
}

form textarea {
    height: 100px;
    border: none;
    padding: 10px;
    border-radius: 14px;
}

form input[type="submit"] {
    padding: 7px 22px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    background-color: var(--amarillo);
    font-weight: 700;
    cursor: pointer;
}

.support {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.links p {
    cursor: pointer;
}

.links p, .support p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.socialNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socialNetworks svg{
    height: 2em;
}

.img-token {
    animation: flotar 2s ease-in-out infinite;
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); /* Ajusta la cantidad de movimiento vertical */
    }
}

/* SWAP */

.swap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo-individual-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}

.cardSwap {
    margin-top: 100px;
    width: 55%;
    height: 500px;
    padding: 50px;
    background-image: url("../img/material-base/quarters.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: relative;
}

.cardSwap::before {
    position: absolute;
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid var(--amarillo);
    border-radius: 100px;
    top: -20px;
    left: 20px;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008a;
    border-radius: 100px;
}

.cardSwapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.cardSwapContainer h1 {
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 200;
}

.cardSwapContainer h1 span{
    color: var(--amarillo);
    font-weight: 700;
}

.formSwap {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.input {
    width: 360px;
    padding: 8px 24px;
    box-sizing: border-box;
    border: 1px solid #323030;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins';
    font-style: italic;
}

.icon {
    position: absolute;
    transform: translateY(-50%);
}

.tether {
    top: 49%;
    width: 8%;
    left: 5px;
}

.coin {
    top: 52%;
    width: 14%;
    left: -5px;
}

.flechasSwap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flechasSwap img {
    width: 10%;
}

.approveSwap {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.approveSwap img {
    width: 6%;
}

.approveSwap button {
    width: 130px;
    border: none;
    padding: 5px 15px;
    background: linear-gradient(var(--amarillo), #f5c132);
    color: var(--negro);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poppins';
}

.slip {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.slip h4, .slip h6 {
    text-align: center;
    color: var(--blanco);
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 1px;
}

.slip h4 {
    font-size: 20px;
}

.slip h6 {
    font-size: 16px;
}

.cannabisSwap, .cafeOroSwap {
    position: absolute;
    z-index: 3;
}

.cannabisSwap {
    left: -70px;
    bottom: -20px;
}

.cafeOroSwap {
    width: 9%;
    left: 50px;
    bottom: -20px;
    transform: rotate(60deg);
}

/* STAKE */

.stake {
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    background-image: url("../img/fondo-individual-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.elementoStake {
    width: 70%;
    background-image: url("../img/basic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.elementoStake .cafe {
    width: 6%;
}

.elementoStake .cannabis, .elementoStake .cannabis-2 {
    width: 10%;
    margin-right: -15px;
    margin-left: -15px;
}

.elementoStake .coin {
    width: 12%;
    margin-right: -25px;
    margin-left: -25px;
}

.elementoStake .cannabis-2 {
    transform: rotate(20deg);
}

.separacionStake {
    width: 100%;
}

.separacionStake h1 {
    color: white;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 200;
}

.separacionStake h1 span {
    color: var(--amarillo);
    font-weight: bold;
}

.separacionStake .reward {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 2px solid var(--amarillo);
    padding-top: 10px;
    margin-top: 5px;
    gap: 20px;
}

.separacionStake .reward h4 {
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.inputReward {
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    border: none;
    font-size: 18px;
}

.reward button {
    width: 190px;
    border: none;
    padding: 5px 35px;
    background: linear-gradient(var(--amarillo), #f5c132);
    color: var(--negro);
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .elementoStake {
        width: 95%;
    }
}

@media (max-width: 750px) {
    .cardSwap {
        width: 85%;
    }
    .separacionStake .reward {
        flex-direction: column;
    }
    .elementoStake img {
        display: none;
    }
}

@media (max-width: 450px) {
    .stake {
        padding-top: 180px;
    }
    .cardSwapContainer h1 {
        font-size: 30px;
    }
    .input {
        width: 300px;
    }
    #token ul {
        flex-direction: column;
    }
    #token ul li {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--amarillo);
    }
    header {
        padding: 15px 5%;
    }
    nav {
        flex-direction: column;
        gap: 10px;
    }
    .home {
        padding: 0px 3%;
    }
    .home h2 {
        font-size: 28px;
    }
    .welcomeDigital, .welcomeMetaverse, .token, .containerPost, .partners {
        padding: 50px 5%;
    }
    .digitalWorld {
        flex-direction: column;
    }
    .digitalWorld img {
        width: 100%;
    }
    .digitalWorld .parrafo h1 {
        font-size: 28px;
    }
    .token {
        flex-direction: column;
    }
    .title h1 {
        margin-top: 25px;
    }
    #roadmap {
        height: 210vh;
    }
    .derecha, .izquierda {
        margin-left: 0px;
    }
    .secciones {
        gap: 50px;
    }
    .posts .titlePost {
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }
    .posts .titlePost img {
        width: 50%;
    }
    .containerPost a {
        font-size: 18px;
    }
    .post img, .partner img {
        width: 35%;
    }
    .post, .partner {
        gap: 25px;
    }
    footer {
        padding: 50px 5%;
        flex-direction: column;
        gap: 50px;
    }
    .contactInfo {
        width: 100%;
        align-items: center;
    }
    .contactForm {
        border-top: 2px solid var(--amarillo);
        border-bottom: 2px solid var(--amarillo);
        border-left: none;
        border-right: none;
        padding: 30px 0px;
    }
    .support, .links {
        align-items: center;
    }
    .liquidity {
        display: none;
    }
    .swiper {
        padding: 30px 0px !important;
    }
    .swiper-slide {
        width: 210px !important;
    }
    .swiper-slide {
        filter: blur(0px);
    }
    #swiper {
        padding: 50px 0px;
        gap: 10px;
    }
    .button-next, .button-prev {
        display: none;
    }
}

@media (max-width:400px) {
    #roadmap {
        height: 250vh;
    }
    .swiper-slide {
        width: 215px !important;
    }
}