<header>
    <nav>
        <img data-aos="fade-right" data-aos-delay="100" src="./views/assets/img/material-base/Logo.png" alt="">
        <ul>
            <li data-aos="fade-right" data-aos-delay="200">
                <a href="">Home</a>
            </li>
            <li data-aos="fade-right" data-aos-delay="300">
                <a href="">Social Networks</a>
            </li>
            <li class="menu" data-aos="fade-right" data-aos-delay="400">
                <a href="">Dapp</a><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#ffffff}</style><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                <ul>
                    <li>
                        <a target="_blank" href="https://master--peppy-piroshki-b0ecde.netlify.app/swap">Swap</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://master--peppy-piroshki-b0ecde.netlify.app/stake">Stake</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://master--peppy-piroshki-b0ecde.netlify.app/">Buy Token</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a target="_blank" href="https://master--peppy-piroshki-b0ecde.netlify.app/" class="botonApp" data-aos="fade-right" data-aos-delay="500">Join Us</a>
    </nav>
</header>